*.py[cod]
__pycache__/*

*.bak
*.orig
*.rej
*~
*.o
*.swp
*.pyc
*.DS_Store
.idea

lizmap.cfg

# IDE
.idea/

*.egg-info

build/
# dist/ # needed for shemaspy

TODO

# QGIS-Plugin-CI
lizsync*zip
lizsync/i18n/*.ts
# lizsync/i18n/*.qm

# MkDocs
docs/CHANGELOG.md
docs/CONTRIBUTING.md
