*.py[cod]
__pycache__/*

*.bak
*.orig
*.rej
*~
*.o
*.swp
*.pyc
*.DS_Store
.idea

lizmap.cfg

.idea/

*.egg-info

build/
# dist/ # needed for shemaspy

TODO
lizsync*zip
lizsync/i18n/*.ts
lizsync/i18n/*.qm
